
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//Bulma
@import '~bulma/css/bulma.css';

//custome
@import 'mixin';


div{
    @include setDivOutline(false);
}

html{
  //background-image: url("/images/bg.jpg");
}

hr{
  margin-block-start: 0.2em !important;
  margin-block-end: 0.5em !important;
  background-color: burlywood !important;
}

.bg-red{
  background-color: #A30B13;
}

#app{
  z-index: 9999 !important;
}

//top header
.columns{
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.top-header-links{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;


  & > .link > a {
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

}

//nav
.navigation-bar{

  & > p > a{
    width: 130px;
    //border: 1px solid #cccccc;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:12px;
    padding-top:12px;
    //border-radius: 15px;
    color: white;
    //background-color:#1fc8db;
    //background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-color:#cfd8dc;
    //background-image: linear-gradient(90deg, #ff9e80 0%, #cfd8dc 51%, #c96f53 75%);
    background-image: linear-gradient(141deg, #78909c 90%, #c96f53 10%);
    opacity: 0.8;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
  }

  & > p > a:hover{
    opacity: 1;
  }

}

.section-home{
  text-align: center;
  & > img {
    margin-top: 15px;
    max-width: 80% !important;
  }
}

.contact-us-form{
  z-index: 9999 !important;
  background-color: white;
  padding-left:50px;
  padding-right:50px;
}

.contant-us-btn-group{
  justify-content: center !important;
}

.control.has-icons-left .textarea{
  padding-left: 2.25em;
}

.news-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 25px;
  z-index: 9999 !important;
  background-color: antiquewhite;

  & > .title{
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 25px;
    border-bottom: 2px solid rgba(grey,0.5);
  }

  & > .content{
    padding-left: 12px;
  }


}



